
<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :details %>
  </div>

  

  <hr>

  <div>
  	
  	<%= f.simple_fields_for :sds do |sd| %>

  		
		   <%= sd.input :number %>
		

  	<% end %>

  	<hr>

 

  </div>

   <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>


<% end %>
